:root {
    background-color: black;
}

ul {
    list-style: none;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'sidebar header'
                         'sidebar content';
}

/* Sidebar */

.sidebar {
    background-color: rgb(48, 132, 211);
    color: white;
    grid-area: sidebar;
    padding: 2rem;
}

.sidebar-title {
    display: flex;
    align-items: center;
    font-size: 2.25rem;
}

.nav {
    font-size: 1.25rem;
    margin-top: 3rem;
    display: grid;
    gap: 1.25rem;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 1em;
}

.nav-link > [class^='material-icons'] {
    font-size: 1.7em;
  }

/* Header */

.header {
    background-color: white;
    grid-area: header;
    padding: 1rem 1.25rem .5rem;
}

.top {
    display: grid;
    grid-template-columns: 1fr max-content;
    margin-bottom: 2rem;
}

.search {
    display: flex;
    align-items: center;
    margin-right: auto;
    width: 100%;
}

.search label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-icon {
    font-size: 1.5rem;
}

#search {
    display: inline-block;
    padding: 0.75em 1em;
    outline-color: black;
    margin-left: 1.25rem;
    border-radius: 50em;
    width: min(80%, 700px);
}

.header .account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
}

.account button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture {
    border-radius: 50%;
}

.account .picture {
    height: 40px;
    width: 40px;
    margin-left: 1.5rem;
    margin-right: .5rem;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile .picture {
    width: 75px;
    height: 75px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.profile-name .greeting {
    font-weight: 550;
}

.profile-name .name {
    font-weight: 1000;
    font-size: 1.3rem;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}

.btn {
    background-color: rgb(48, 132, 211);
    color: white;
    border-radius: 99em;
    padding: 1em 2em;
    border: none;
}

/* Content */

.content {
    grid-area: content;
    background-color: gray;
    padding: 2rem;
    display: grid;
    grid-template-areas: 'projects announcements'
                         'projects trending';
    overflow: auto;
    gap: 2rem;
    
}

.projects {
    grid-area: projects;
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}