body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.form {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    flex-wrap: wrap;
}

#read-status,
input {
    border-radius: 4px;
    padding: 6px 10px;
    border: 1px solid rgb(196, 195, 195);
    background-color: white;
    font-size: 1.5rem;
    display: flex;
}

[class^="get-"] {
    flex: 1 0 15%;
}

.but {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    font-size: 1.5rem;
    border-radius: 4px;
    padding: 6px 10px;
    background-color: rgb(123, 154, 255);
    cursor: pointer;
}

.book-shelf {
    display: grid;
    overflow: auto;
    justify-content: center;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    align-items: center;
    padding: 2rem;
    margin-top: 2rem;
    gap: 3rem;
}

.grid-item {
    background-color: aqua;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-shelf button {
    width: 15vw;
    margin: 1rem;
}

:root {
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}