:root {
    --pitt-gold: #FFB81C;
    --pitt-blue: #003594;
    background-color: #e7e7e7;
    background-color: var(--pitt-blue);
}

.flex-container {
    width: 95vw;
    height: 95vh;
}

.flex-container,
.right-side,
.logo {
    display: flex;
    gap: 1vw;
}

.left-side{
    background-image: url(./images/background_image.bmp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40vw;
    background-color: aqua;
    
}

.logo{
    position: relative;
    top: 40vh;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.pitt-logo {
    height: 10vh;
    padding-right: 2vw;
}

.logo-text {
    gap: 2px;
    font-size: 11vh;
    color: var(--pitt-blue);
    -webkit-text-stroke: 1.5px var(--pitt-gold);
}

.top-text {
    font-size: 1.5rem;
    flex-grow: .4;
    border-bottom: solid var(--pitt-gold);
    justify-content: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    border-bottom: solid var(--pitt-gold);
}

.form-root {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form-header {
    font-size: 1.5rem;
}

.form-content {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.already-has-account {
    padding: 15px;
    flex-grow: 1;
    font-size:1.5rem;
}

.log-in {
    text-decoration: none;
}
.log-in:visited {
    color: var(--pitt-gold);
}

.right-side {
    flex-direction: column;
    background-color: var(--pitt-blue);
    color: var(--pitt-gold);
    text-align: center;
    justify-content: center;
    width: 55vw;
}

.input {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 1.5rem;
}


input{
    border: 1px solid var(--pitt-gold);
    height: 25px;
    border-radius: 3px;
}

input:focus{
    outline: none;
    border: 2px solid var(--color);
}

button{
    background-color: var(--pitt-blue);
    color: var(--pitt-gold);
    font-weight: 700;
    font-size: 1.2em;
    border: 2px solid var(--pitt-gold);
    border-radius: 5px;
    padding: 10px 40px;
    margin: 40px 0;
}

button:hover{
    background-color: var(--pitt-blue);
    color: black;
    border: solid black;
}